body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
}
.button img {
  width: 50px;
  height: 50px;
}
.scores {
  display: flex;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 15px 40px;
  display: flex;
  gap: 30px;
  font-size: 18px;
}
