body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

.title {
  text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
}
.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
    background-color: #e0e0e0;
}
.button img {
    width: 50px;
    height: 50px;
}